<main class="container my-4">
  <h1 class="fs-2">Listagem de Notas Arquivadas</h1>

    <section aria-label="Opções" class="row justify-content-center justify-content-lg-start g-1">
      <a mat-flat-button class="col-md-6 col-lg-4 col-xxl-2 fs-6 py-4" [routerLink]="['/notas']">
      <mat-icon>arrow_back</mat-icon>
      Voltar
      </a>
    </section>

    <hr />

    <div class="row g-3 mt-2">
      <mat-chip-listbox *ngIf="categorias$ | async as categorias">
        <mat-chip-option (click)="filtrar()" >Todas as Notas</mat-chip-option>

        <mat-chip-option *ngFor="let categoria of categorias" (click)="filtrar(categoria.id)">{{ categoria.titulo }}</mat-chip-option>

      </mat-chip-listbox>
    </div>

  <div *ngIf="notas$ | async as itens" class="row g-3 mt-2">
    <ng-container *ngFor="let item of itens">
      <div *ngIf="item.arquivado" class="col-md-6 col-lg-4">

        <mat-card class="card-animado mat-mdc-elevation-specific mat-elevation-z3 h-100">

          <mat-card-header class="d-flex justify-content-between">
            <mat-card-title class="titulo-card">{{ item.titulo }}</mat-card-title>

            <span> {{item.categoria.titulo}} </span>
          </mat-card-header>

          <mat-card-content class="mt-4">
            <p>{{ item.conteudo }}</p>
          </mat-card-content>

          <mat-card-footer class="d-flex justify-content-end gap-1 p-3 mt-auto">

            <a mat-icon-button class="botao-desarquivar" matTooltip="Desarquivar {{ item.titulo }}" (click)="desarquivar(item)">
              <mat-icon>archive</mat-icon>
            </a>

          </mat-card-footer>
        </mat-card>

      </div>
    </ng-container>
  </div>
</main>
